.flag-list {
  left: 5%;
  display: grid; // Define o contêiner como uma grade
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); // Cria colunas responsivas
  gap: 50px; // Espaçamento entre os cards
  justify-items: center; // Centraliza os cards horizontalmente
  padding: 70px; // Espaçamento interno do contêiner
  margin: 40px;
  margin: 70px 0;
}

app-modal {
  img {
    max-width: 80%; // Reduz a largura da imagem para 80% do contêiner
    max-height: 300px; // Define uma altura máxima
    display: block;
    margin: 0 auto; // Centraliza a imagem
    border-radius: 8px; // Bordas arredondadas para melhor estética
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Efeito de sombra para destaque
  }
}

