<div class="flag-list">
  <div *ngFor="let flag of filteredFlags; let i = index">
    <app-flag-item 
    #flagItem
      [flag]="flag" 
      [isExpanded]="expandedFlagIndex === i"
      [isDarkTheme]="isDarkTheme"
      (flagClicked)="onFlagClicked(flag)">
    </app-flag-item>
  </div>

  <app-modal *ngIf="isModalOpen" 
  [selectedFlag]="selectedFlag" 
  [countryInfo]="countryInfo"
  [economicInfo]="economicInfo"
  [isDataLoaded]="isDataLoaded" 
  (close)="closeModal()">
</app-modal>
</div>

<!-- <app-modal *ngIf="isModalOpen" (close)="closeModal()" title="Informações da Bandeira">
    <h3>{{ selectedFlag?.name }}</h3>
    <img [src]="selectedFlag?.imageUrl" [alt]="selectedFlag?.name" />

    <div class="wiki-conteudo" *ngIf="!isDataLoaded">
      <p class="loading-text">Carregando informações...</p>
    </div>

    <div class="wiki-conteudo" *ngIf="isDataLoaded">
      <h4>{{ countryInfo?.title }}</h4>
      <p>{{ countryInfo?.extract }}</p>
    </div>

    <div class="wiki-economics-info" *ngIf="!isDataLoaded">
       <p class = "loading-text">Carregando informações...</p>
       </div>
    <div class = "wiki-economics-info"  *ngIf="isDataLoaded">
      <h4>Economia Política:</h4>
      <p>{{ economicInfo?.content }}</p>
    </div>
  </app-modal> 
-->

