<div class="flag-list">
  <div *ngFor="let flag of flags; let i = index">
    <app-flag-item 
      [flag]="flag" 
      [isExpanded]="expandedFlagIndex === i"
      [isDarkTheme]="isDarkTheme"
      (flagClicked)="onFlagClicked(flag)">
    </app-flag-item>
  </div>

  <!-- Modal para exibir detalhes -->
  <app-modal *ngIf="isModalOpen" (close)="closeModal()" title="Informações da Bandeira">
    <h3>{{ selectedFlag?.name }}</h3>
    <img [src]="selectedFlag?.imageUrl" [alt]="selectedFlag?.name" />
    
    <div class="wiki-conteudo" *ngIf="countryInfo">
      <h4>{{ selectedFlag?.name }}:</h4>
      <p *ngIf="countryInfo.extract">{{ countryInfo.extract }}</p>
    </div>

    <p *ngIf="!countryInfo">Carregando informações...</p>
  </app-modal>
</div>


