<div class="flag-container" (click)="onClick($event)">
  <img class="flag-image" [src]="flag.imageUrl" [alt]="flag.name"/>
</div>
<div>
  <p [ngClass]="isDarkTheme ? 'flag-name-dark' : 'flag-name'">{{ flag.name }}</p>
  <div *ngIf="isExpanded">
    <p></p>
</div>
<!-- <app-modal *ngIf="isModalOpen" (closed)="closeModal()" title="Informações da Bandeira">
  <h3>{{ selectedFlag?.name }}</h3>
  <img [src]="selectedFlag?.imageUrl" [alt]="selectedFlag?.name" />
  <p>Mais informações sobre a bandeira...</p>
</app-modal> -->