.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 54, 54, 0.541); /* Fundo translúcido escuro */
  z-index: 1001; /* Overlay atrás do modal */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: fadeIn 0.3s ease-out; /* Animação suave */
}

.modal-content {
  position: relative;
  background: #424242;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
  z-index: 1001;
  width: 80%;
  max-width: 1600px;
  height: 80vh;
  display: grid; /* Usando grid para controlar o layout */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content auto auto auto; /* Uma linha para o título, outra para a imagem e conteúdo */
  gap: 1rem; /* Ajuste o espaçamento entre os elementos */
  border-left: 5px solid #4b2e2e; /* Borda de destaque */
  overflow-y: auto; /* adiciona scroll */
  scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
  justify-content: center;
  align-items: start;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px; /* Distância do canto superior esquerdo */
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #ff3b3f; /* Mudança de cor ao passar o mouse */
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-align: left;
  grid-column: 1 / -1; /* Faz o título ocupar toda a largura da primeira linha */
  grid-row: 1; /* O título ocupa a primeira linha */
}

img {
  width: 100%; /* A imagem ocupa toda a largura de sua coluna */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 350px;
  object-fit: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  grid-row: 2; /* A imagem ocupa a segunda linha */
  grid-column: 1; /* Coloca a imagem na primeira coluna */
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal-content {
    display: grid;
    position: absolute;
    background: #424242;
    color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto auto auto auto; 
    gap: 1rem;
    border-left: 5px solid #4b2e2e;
    overflow-y: auto;
    justify-content: center;
  }
}

app-modal {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto min-content auto;
  gap: 10px;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;

  &.modal-close {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
  }

  h3 {
    grid-column: 1 / -1;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  img {
    grid-row: 2;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    object-fit: contain;
  }

  .wiki-conteudo {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background: rgba(0, 0, 0, 0.349);
    padding: 15px;
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .wiki-conteudo::-webkit-scrollbar {
    display: none;
  }

  .loading-text {
    font-size: 16px;
    color: #ffffff;
    // font-weight: 600;
    // text-align: center;
    // padding: 10px;
    // background-color: rgba(0, 0, 0, 0.4);
    // border-radius: 10px;
    // margin-top: 10px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 40px;
    // width: 100%;
    // box-sizing: border-box;
  }

  .wiki-economics-info {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background: rgba(0, 0, 0, 0.349);
    padding: 20px;
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 15px;
    scrollbar-width: none;
  }

  .wiki-economics-info::-webkit-scrollbar {
    display: none;
  }

  .wiki-economics-info h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 1px;
    font-weight: 600;
    align-self: flex-start;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    border: none;
  }

  .wiki-economics-info p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  app-modal {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto auto auto auto;
  }

  .wiki-conteudo {
    grid-column: 1;
    grid-row: 3;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background: rgba(0, 0, 0, 0.349);
    padding: 20px;
    border-radius: 10px;
    height: auto;
    box-sizing: border-box;
  }

  .wiki-economics-info h4 {
    display: grid;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 1px;
    font-weight: 600;
    align-self: flex-start;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    border: none;
    grid-column: 1;
    grid-row: 4;
  }

  .wiki-economics-info {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background: rgba(0, 0, 0, 0.349);
    padding: 20px;
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 15px;
    scrollbar-width: none;
    grid-column: 1;
    grid-row: 5;
  }
}
