footer {
    background-color: #656566;
    padding: 0px 20px;
    text-align: center;
    border-top: 1px solid #dee2e6;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  }