
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  
  }

  
.dark-theme {
  background-color: #363636; 
  // .flag-name{
  //   color: #ffffff;
  // }
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh;
  /* Opcional: evita que o layout "pule" quando a scrollbar some */
  padding-right: 0px; 
}
// .theme-toggle {
//   background: linear-gradient(135deg, #4a4a4a, #333); /* Gradiente de fundo */
//   margin-top: 1px;
//   color: #f0f0f0; /* Texto claro */
//   border: 0px solid #ffffff; /* Remove a borda padrão */
//   border-radius: 3px; /* Bordas arredondadas */
//   padding: 0px; /* Espaçamento interno */
//   font-size: 12px; /* Tamanho da fonte */
//   font-weight: bold; /* Texto em negrito */
//   text-transform: uppercase; /* Texto em maiúsculas */
//   cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
//   transition: background 0.3s, transform 0.2s, box-shadow 0.3s; /* Transições suaves */
//   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9); /* Sombra para profundidade */
//   text-align: center;
//   z-index: 1000;
//   position: fixed;
//   top: 10px;
//   right: 5rem; 

//   &:hover {
//     background: linear-gradient(135deg, #5a5a5a, #444); /* Gradiente mais claro ao passar o mouse */
//     transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
//     box-shadow: 0 8px 20px rgba(0, 0, 0, 1.5); /* Sombra mais intensa */
//   }

//   /* Efeito de foco */
//   &:focus {
//     outline: none; /* Remove o contorno padrão */
//     box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3); /* Contorno suave ao focar */
//   }

//   /* Efeito de desabilitado */
//   &:disabled {
//     background: #666; /* Fundo cinza quando desabilitado */
//     cursor: not-allowed; /* Cursor desabilitado */
//     box-shadow: none; /* Remove a sombra */
//   }
// }

.footer {
  background: #333;
  color: #fff;
  padding: 0px;
  text-align: center;
  position: fixed;
  z-index: 1000;
}

.flag-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.flag-card:hover {
  transform: scale(1.05);
}

.expanded {
  background: #e0f7fa; // Cor diferente quando expandido
}
.icon {
  width: 50px;
  height: auto;
  padding: 0px;
}